/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100px;
}
#button {
  margin-right: -100px;
}
.container {
  width: 500px;
}
.button1 {
  margin-top: -20px;
}
.button2 {
  margin-top: 20px;
}
.title {
  text-align: center;
  margin-left: 150px;
}
